<!--Header-->
<poke-header></poke-header>

<main>
  @if (vm().pokemon; as pokemon) {
    <section class="pokemon__names">
      <h1 class="slideInLeft">{{ pokemon.name }}</h1>
      <h2 class="slideInRight">{{ vm().species?.names?.[0]?.name }}</h2>
    </section>

    <section class="pokemon__status">
      <img
        [src]="pokemon.sprites.other.dream_world.front_default"
        [alt]="pokemon.name"
        class="slideInDown"
      >

      <article class="pokemon__status__statistics fadeIn">
        <section>
          <h3>Estatísticas</h3>

          <ol>
            @for (value of pokemon.stats; track value.stat.name) {
              <li>
                {{ value.stat.name }}
                <strong>
                  {{ value.base_stat }}
                </strong>
              </li>
            }
          </ol>
        </section>

        <a [routerLink]="['']" class="btn btn__secondary">
          Voltar
        </a>
      </article>
    </section>
  }

  @if (vm().error) {
    <img
      src="assets/error.png"
      alt="Erro ao carregar"
      width="100%"
    >
  }
</main>
