<!--Search-->
<poke-search (term)="onSearch($event)"></poke-search>

<section class="list-pokemons">
  @for (pokemon of pokemons(); track pokemon.name) {
    @if (pokemon.detail; as detail) {
      <a [routerLink]="['details', detail.id]" class="pokemon">
        <section class="pokemon__status">
          <h2>
            {{ pokemon.name }}
          </h2>
          <ul>
            @for (slot of detail.types; track slot.type.name) {
              <li>
                {{ slot.type.name }}
              </li>
            }
          </ul>
        </section>

        <section class="pokemon__image">
          <img [src]="detail.sprites.other.dream_world.front_default"
               [alt]="pokemon.name">
        </section>
      </a>
    }
  }
</section>

@if (apiError()) {
  <img
    src="assets/error.png"
    alt="Erro ao carregar"
    width="100%"
  >
}
