<form class="search" role="search" (submit)="$event.preventDefault()">
  <label for="poke-search" class="visually-hidden">Buscar Pokémon por nome ou número</label>
  <img src="assets/icons/search.svg" alt="" width="18" height="18" class="search__icon">
  <input
    id="poke-search"
    #input
    type="search"
    class="search__input"
    [value]="value()"
    (input)="onSearch(input.value)"
    placeholder="Buscar por nome ou número (ex.: pikachu, 25)…"
    autocomplete="off"
    spellcheck="false"
  >
</form>
