@use "./config-scss/variables";
@use "./config-scss/reset";
@use "./config-scss/rem-calc" as *;
@use "./config-scss/btn";
@use "./config-scss/animation";

html{
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color);
}

main{
  max-width: rem-calc(800);
  margin: 0 auto;
  box-sizing: border-box;
}
